@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
	font-family: "PPEditorialNew";
	src: url("fonts/PPEditorialNew/PPEditorialNew-Regular-BF644b214ff145f.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PPMondwest";
	src: url("fonts/Bitmap/PPMondwest-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

/* @keyframes animateIn {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
} */

* {
	font-family: "Inter", sans-serif;
	color: #fff;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	background-color: #121212;
	font-size: 10px;
}

.hero {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	text-align: center;
	text-transform: uppercase;
	z-index: 2;
	padding: 35vh 20px 45vh;
	/* animation: animateIn 1s 0.5s forwards; */
	/* visibility: hidden; */
	width: 100%;
	margin: 0 auto;
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
}

header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	padding: 20px;
	position: fixed;
	top: 0;
}

header h1 {
	margin: 0;
	font-weight: 400;
	font-size: 11px;
}

.nav {
	display: flex;
	gap: 20px;
}

.nav a {
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	position: relative;
}

.nav a:hover {
	/* create an underline animation */
	text-decoration: none;
}

.nav a::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 120%;
	left: 0;
	background-color: #fff;
	visibility: hidden;
	transform: scaleX(0);
	transform-origin: left;
	transition: all 0.5s ease-in-out 0s;
}

.nav a:hover::after {
	visibility: visible;
	transform: scaleX(1);
}

.hero p {
	font-family: "PPEditorialNew", sans-serif;
	font-size: 6.5vw;
	text-align: center;
	line-height: 9vw;
	margin: 0;
	text-wrap: balance;
}

.hero .capital {
	font-family: "Great Vibes", cursive;
	margin-right: 1vw;
	text-transform: capitalize;
	font-size: 10.5vw;
}

.hero p .pixelated {
	font-family: "PPMondwest", sans-serif;
	font-size: 8vw;
}

.table {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
	position: relative;
	z-index: 3;
	font-size: 14px;
}

.tableHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 12px;
}

.tableHeader p {
	color: rgb(177, 177, 177);
	width: 100%;
}

.tableHeader p:last-child {
	width: 50%;
}

.tableRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	z-index: 22;
	position: relative;
	overflow: hidden;
}

.tableRow p {
	width: 100%;
}

.rowDividier {
	width: 100%;
	height: 1px;
	background-color: #fff;
}

.tableHeader p:last-child {
	display: none;
}

.projectDate {
	display: none;
}

.hoverBackground {
	display: none;
	z-index: -10;
}

.grid {
	display: none;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	top: 55px;
	position: absolute;
}

.gridCol {
	width: 5vw;
}

.square {
	width: 100%;
	height: 5vw;
}

.text-under-square {
	color: white;
	mix-blend-mode: difference;
}

.square:hover + .text-under-square {
	color: black;
}

@media (min-width: 600px) {
	.tableHeader p:last-child {
		display: block;
	}

	.tableRow .projectDate {
		display: block;
		width: 50%;
	}

	.table {
		font-size: 15px;
	}
}

@media (min-width: 800px) {
	.hero p {
		font-size: 42px;
		line-height: 56px;
	}

	.hero .capital {
		margin-right: 10px;
		font-size: 6.7rem;
	}

	.hero p .pixelated {
		font-size: 5.4rem;
	}

	header h1 {
		margin: 0;
		font-weight: 400;
		font-size: 13px;
	}

	.table {
		min-height: 100vh;
		padding-top: 110px;
	}

	.grid {
		display: flex;
	}
}

@media (min-width: 1200px) {
	.hero p {
		font-size: 3.8vw;
		line-height: 4.5vw;
	}

	.hero .capital {
		font-size: 5.5vw;
	}

	.hero p .pixelated {
		font-size: 5vw;
	}

	.hero {
		padding-top: 30vh;
	}

	.tableRow p {
		/* Initial state */
		background-color: transparent;
		transition: all 0.2s;
	}

	.hoverBackground {
		display: flex;
		height: 100%;
		width: 100%;
		background-color: #fff;
		position: absolute;
		top: -100%;
		transition: top 0.2s ease-in-out;
	}

	.tableRow:hover {
		p {
			padding-left: 15px;
			color: #000;
		}

		.hoverBackground {
			top: 0;
		}
	}
}

@media (min-width: 1800px) {
	.hero p {
		font-size: 70px;
		line-height: 82px;
	}

	.hero .capital {
		font-size: 10.5rem;
	}

	.hero p .pixelated {
		font-size: 9.1rem;
	}

	.hero {
		padding-top: calc(8vw + 200px);
	}

	.table {
		font-size: 17px;
	}
}
